body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h3 {
  font-size: 16px;
  line-height: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.features-list,
.search,
.filters,
.sorting-item {
  list-style: none;
}

.feature-item,
.promo,
.feedback,
.appointment,
.search-btn {
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 73px;
  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  margin-left: 460px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.site-navigation li:nth-child(2n) {
  margin-right: 100px;
}

.site-navigation a {
  color: #000000;

  font-weight: 700;
  display: block;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.promo {
  background-image: url(../img/welcome.jpg);
  height: 510px;
  background-repeat: no-repeat;

  margin: 0 auto;
  margin-bottom: 71px;
}

.promo img {
  padding: 71px 0 0 0;
}

.main-screen {
  text-align: center;
  margin: 0 355px;
}

.main-screen h2 {
  margin-bottom: 39px;
}

.main-screen p {
  margin-bottom: 57px;
}

.advantage-description {
  display: flex;
  height: 256px;
}

.description {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 46px 65px 46px;

  background-color: #81b3d2;
  color: #ffffff;
}

.description h2 {
  margin: 0;
  margin-bottom: 26px;
}

.description p {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-list p {
  color: #333333;
}

.feature-item {
  width: 400px;
  padding: 50px;
}

.feature-choice,
.feature-quality,
.feature-safety {
  background-color: #eeeeee;
}

.feedback {
  padding: 47px 315px;
}

.feedback h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
}

.feedback p {
  margin: 0 auto;
  width: 458px;
}

.appointment,
.search-btn {
  width: 570px;
  margin: 0 auto;
  font-weight: 700;
}

.search-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #766357;
  color: #ffffff;

  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.search-btn:active {
  color: #928a85;
  background-color: #503e33;
}

form {
  padding: 55px 57px;
}

.search {
  margin: 0;
  padding: 0;
}

.search li {
  width: 100%;
}

.search li:nth-child(1n) {
  margin-bottom: 29px;
}

.search li:nth-child(2n) {
  margin-bottom: 30px;
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:active {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.date {
    background-color: #f2f2f2;
}

.people-count-layout {
  margin-bottom: 54px;
}

.people-count-layout p {
  margin: 0;
}

.people-count-layout p:nth-child(1n) {
  margin-right: 51px;
  width: 229px;
}

.people-count-layout p:nth-child(2n) {
  width: 178px;
}

.btn {
  background-color: #f2f2f2;
}

.find {
  justify-content: center;
  align-items: center;
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 20px 0;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.map {
  background-image: url("../img/map.jpg");
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}

.main-footer p {
    font-weight: 700;
}

.tag {
  width: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.title,
.sorting h2,
.tag {
    font-size: 21px;
    line-height: 26px;
}

.filters {
  background-image: url(../img/blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  padding: 0 73px;
  margin-bottom: 31px;
  display: flex;
  margin-left: auto;
}

.infrastructure h3{
  margin-right: 116px;
}

.results-item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}

.results-item img {
  padding: 31px 29px 30px 0;
}

.filters-item,
.results {
  list-style: none;
}

.filter-range {
  width: 330px;
  height: 215px;
  margin-left: auto;

  color: #ffffff;

  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;

  color: #ffffff;

  text-transform: uppercase;
  background: transparent;

  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: flex;
  padding: 0 73px;
  margin-bottom: 35px;
}

.sorting  h2,
.sorting p,
.breadcrumbs {
  margin: 0;
  margin-right: 48px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 30px;
}

.results {
  margin: 0;
  padding: 0;
  padding: 0 73px;
}

.desciption {
  display: flex;
  flex-wrap: wrap;
  padding: 31px 0 30px 0;
}

.title {
  width: 100%;
  margin: 0;
}

.title:hover {
    color: #81b3d2;
}

.title:active {
  color: #cacaca;
}

.detail-desciption {
  margin-right: 7px;
}

.detail-desciption a {
   background-color: #81b3d2;
   color: #ffffff;
   font-weight: 700;
}

.detail-desciption a:hover {
  background-color: #669ec0;
}

.detail-desciption a:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button {
  justify-content: center;
  align-items: center;
  width: 109px;
  padding: 8px;
}

.price-block a {
    background-color: #766357;
    color: #ffffff;

    font-weight: 700;
}

.price-block a:hover {
  background-color: #604e43;
}

.price-block a:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-list {
  width: 110px;
  text-align: center;
  margin-left: auto;
  padding: 31px 0;
}

.rating {
    background-color: #f2f2f2;
    color: #666666;
    margin-top: 47px;
}

.footer-social {
  text-align: center;
  list-style: none;

  width: 400px;
  display: flex;
  width: 155px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.footer-social ul {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active {
  background-color:#5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
