body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h3 {
  font-size: 16px;
  line-height: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.features-list,
.search,
.filters,
.sorting-item {
  list-style: none;
}

.feature-item,
.promo,
.feedback,
.appointment,
.search-btn {
  text-align: center;
}

.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  position: relative;
}

.main-header-logo {
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin-bottom: 16px;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
  display: block;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
  padding-left: 60px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 65px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.promo {
  background-image: url(../img/welcome.jpg);
  background-position-y: -55px;
  height: 509px;
  background-repeat: no-repeat;

  margin: 0 auto;
  margin-bottom: 59px;
  background-color: #31464a;
}

.promo img {
  padding: 76px 0 0 0;
}

.main-screen {
  text-align: center;
  margin: 0 355px;
}

.main-screen h2 {
  margin: 0;
  margin-bottom: 30px;
  line-height: 26px;
}

.main-screen p {
  margin: 0;
  margin-bottom: 53px;
}

.advantage-description {
  display: flex;
}

.description-index {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 45px 40px 50px;

  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0px 25px 0px;
}

.description-index h2 {
  width: 153px;
  text-align: center;
  margin: 26px 4px 10px 0;
}

.description-index p {
  margin: 13px 3px 9px 0;
}

.description p {
  margin: 0;
  margin-bottom: 20px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.features-list p {
  color: #333333;
}

.feature-title {
  margin: auto;
  width: 160px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.feature-item {
  width: 400px;
  padding: 24px 51px 34px 54px;
}

.feature-choice p {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.feature-quality p {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.feature-safety p {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 22px;
}

.feature-accomodation {
  padding: 60px 47px;
}

.feature-food {
  padding: 62px 48px 0 48px;
}

.feature-souvenirs {
  padding: 58px 47px;
}

.feature-choice,
.feature-quality,
.feature-safety {
  background-color: #eeeeee;
}

.feedback {
  padding: 44px 315px 0px 315px;
}

.feedback h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 22px;
}

.feedback p {
  margin: 0 auto;
  width: 458px;
  line-height: 24px;
  margin-bottom: 48px;
}

.appointment,
.search-btn {
  width: 570px;
  margin: 0 auto;
  font-weight: 700;
}

.search-btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #766357;
  color: #ffffff;

  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  position: relative;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #604e43;
}

.search-btn:active {
  color: #827872;
  background-color: #503e33;
}

form {
  padding: 55px;
  background-color: #ffffff;
  position: absolute;
}

.search {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.search label {
  margin-right: 16px;
}

.date {
  width: 310px;
  border: none;
  padding: 11px 17px;
  font-weight: 700;
  background-image: url(../img/calendar.svg);
  background-position: 316px center;
  background-repeat: no-repeat;
}

.search li {
  width: 100%;
  margin-bottom: 28px;
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:active {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.date {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.people-count-layout {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.people-count-layout p {
  margin: 0;
  align-items: center;
}

.people-count-layout p:nth-child(1n) {
  display: flex;
}

.people-count-layout p:nth-child(2n) {
  width: 178px;
}

.people-count-layout span {
  margin-right: 19px;
 }

 .count-btn {
   display: flex;
 }

.btn {
  border: none;
  padding: 10px 16px;
}

.btn {
  background-color: #f2f2f2;
  font-weight: 700;
}

.find {
  justify-content: center;
  align-items: center;
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 0;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.find:hover {
  background-color: #669ec0;
}

.find:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.map {
  background-image: url("../img/map.jpg");
  display: flex;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0;
}

.fixed-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-footer p {
  font-weight: 700;
}

.tag {
  width: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.title,
.sorting h2,
.tag {
  font-size: 21px;
  line-height: 26px;
}

.filters {
  background-image: url(../img/blurred.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #467ca8;

  padding: 0 73px;
  margin-bottom: 31px;
  display: flex;
  margin-left: auto;
  background-position-y: -150px;
  height: 217px;
}

.infrastructure,
.type-of-accommodation {
  color: #ffffff;
  margin-top: 11px;
}

.type-of-accommodation ul {
  margin: 25px 3px;
}

.infrastructure ul {
  margin: 26px 0px;
}

.infrastructure h3{
  margin-right: 116px;
}

.results-item {
  border-top: 1px solid #e5e5e5;
  display: flex;
  padding: 0 73px;
}

.results-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.results-item img {
  padding: 30px 29px 30px 0;
  height: 90px;
  width: 135px;
}

.filters-item,
.results {
  list-style: none;
  padding: 0;
}

.filters-item li {
  margin-bottom: 25px;
}

.filter-range {
  width: 330px;
  height: 215px;
  margin-left: auto;

  color: #ffffff;

  text-transform: uppercase;
  padding-top: 27px;
}

.filter-range-title {
  margin-bottom: 11px;
  margin-left: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 315px;
  margin: 0 0 20px 13px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 29px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 15px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 5px 34px;
  font-size: 14px;
  line-height: 20px;

  color: #ffffff;

  text-transform: uppercase;
  background: transparent;

  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: flex;
  padding: 0 73px;
  margin-bottom: 28px;
}

.sorting p,
.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
}

.sorting  h2,
.breadcrumbs {
  margin: 0;
  margin-right: 48px;
}

.sorting p {
  margin: 6px 39px 3px 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs a {
  color: #cacaca;
}

.breadcrumbs a:active {
  color: #cacaca;
}

.breadcrumbs a:hover {
  color: #81b3d2;
}

.breadcrumbs a:focus {
  color: #231f20;
}

.breadcrumbs li {
  position: relative;
  margin: 6px 33px 0 0;
  border-bottom: 1px dashed #81b3d2;
}

.icon-dir {
  margin-left: auto;
}

.icon-dir svg {
  margin: 9px 2px 0px 3px;
}

.icon-dir:focus path,
.icon-dir:hover path {
  fill: #292526;
}

.icon-dir:active path {
  fill: #adcee2;
}

.results {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  margin: 0;
}

.title:hover {
  color: #81b3d2;
}

.title:active {
  color: #cacaca;
}

.detail-description {
  margin-right: 5px;
}

.detail-description a {
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  padding: 4px 17px;
}

.detail-description a:hover {
  background-color: #669ec0;
}

.detail-description a:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button {
  justify-content: center;
  align-items: center;
  width: 109px;
  padding: 8px;
}

.price-block a {
  background-color: #766357;
  color: #ffffff;

  font-weight: 700;
  padding: 4px 17px;
}

.price-block a:hover {
  background-color: #604e43;
}

.price-block a:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-list {
  width: 110px;
  text-align: center;
  margin-left: auto;
}

.stars {
  margin: 29px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.stars svg {
  margin-left: 5px;
}

.rating {
  background-color: #f2f2f2;
  color: #666666;
  margin-top: 47px;
  padding: 3px 0 2px 5px;
}

.footer-social {
  text-align: center;
  list-style: none;

  display: flex;
  width: 155px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.footer-social ul {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  list-style: none;
}

.footer-social li {
  padding: 0px 3px 4px 2px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active {
  background-color:#5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding: 4px 9px 7px 3px;
}

.logo-academy:focus path,
.logo-academy:hover path {
  fill: #adcee2;
}

.logo-academy:active path {
  fill: #bdbbbc;
}

.modal-show {
  display: block;
}

input#options-field,
input#options-field-2,
input#options-field-3,
input#options-field-4,
input#options-field-5,
input#options-field-6 {
  display: none;
}

input + label {
  padding-left: 39px;
  position: relative;
}

input + label:before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  left: 0;
  top: 0;
}

input:checked + label:before {
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.svg {
  background-image: url(../img/intro-mask.svg);
  background-position: center 18px;
  height: 100px;
  background-repeat: no-repeat;
  position: static;
}
